- model_class = Session
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %tbody
    - @sessions.each do |session|
      %tr
        %td= link_to session.name, session_path(session)

= link_to 'Create a new session', new_session_path, :class => 'btn btn-primary'
